body {
    font-size:100px;
    margin:0;
    padding:0;
}
.section{
    height:100vh;
}
.black{
    color:#ffffff;
    background-color:#000000;
}
.white{
        color:#000000;
        background-color:#ffffff;
}